<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <div>
        <p><strong>User Name</strong>: <%= user.userName %></p>
        <p><strong>Email</strong>: <%= user.email %></p>
        <a href="/logout" class="col-3 btn btn-primary">Logout</a>
      </div>
      <div class="mt-5">
        <h2>Add your daily fluid limit.</h2>
        <form action="/post/createPost" enctype="multipart/form-data" method="POST">
          <div class="mb-3">
            <label for="liters" class="form-label">Liters</label>
            <input type="number" class="form-control" id="liters" name="liters">
          </div>
          <h3>I drank</h3>
          <div class="mb-3">
            <label for="fluid" class="form-label">Fluid Input</label>
            <input type="number" class="form-control" id="fluid" name="fluid" placeholder="ounces">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="issueDescInput" name="description" placeholder="What did you drink?">
          </div>
          
          </div>
          <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<section class="container">
<section class="row">
  <div class="col-lg-12">
      <div id="issuesList">
          <!--This will be populated by JS-->
      </div>
  </div>
</section>
</section>
<!-- <script>
  let isOpen = false;

  function toggleDropdown() {
      const menu = document.getElementById('dropdown-menu');
      isOpen = !isOpen;
      menu.style.display = isOpen ? 'block' : 'none';
  }

  function selectOption(option) {
      const button = document.getElementById('description');
      button.textContent = option; // Update the button text with the selected option
      toggleDropdown();
  }
</script> -->
<%- include('partials/footer') -%>